body {
  font-family: 'Source Code Pro', monospace;
  background-color: #343a40;
  color: white;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.portada{
  margin-top: 10%;
}

.subTitulo{
  margin-bottom: 10%;

}

.icono{
  margin-left: 2%;
  margin-right: 2%;
}

.icono:hover{
  color: #007F00;
}

.comentario{
  color: #007F00;
}


/* .contenedor{
  margin:auto !important;
  display: table;
}
h1{
  position: relative;
  margin-top: 50%;
}

h1 span{
  position: absolute;
  right: 0;
  width: 0;
  border-left: 1px solid;
  background-color: #343a40;

  animation: maquina 3s  alternate;
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
} */
